@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/cerberus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

:root {
	color-scheme: light;
}

.app {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	padding: 2rem;
	max-width: 1400px;
	margin: 0 auto;
}

.left,
.right {
	display: flex;
	flex-flow: column;
	gap: 1.5rem;
}

.category {
	display: flex;
	flex-flow: column;
	gap: 0.25rem;
}

.category p {
	margin: 0;
	font-weight: bold;
}

.label {
	font-weight: bold;
}

.buttons {
	display: flex;
	flex-flow: column;
	gap: 0.5rem;
}

.highlight {
	background-color: var(--color-warning-200);
	font-weight: bold;
}